body{
  background-color: #404040;
}
@font-face {
    font-family: 'norwester';
    src: url('../fonts/norwester/norwester-webfont.eot');
    src: url('../fonts/norwester/norwester-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/norwester/norwester-webfont.woff2') format('woff2'),
         url('../fonts/norwester/norwester-webfont.woff') format('woff'),
         url('../fonts/norwester/norwester-webfont.ttf') format('truetype'),
         url('../fonts/norwester/norwester-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
::selection {
  background: #6abed8; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #6abed8; /* Gecko Browsers */
}
.video-wrapper {
	background-color: #f0f0f0;
	position: relative;
	padding-bottom: 49.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 15px;
	margin-bottom: 30px;
}

p{
	text-indent: 35px;
}

/* Footer */
footer {
	background-color:#404040;
  	padding: 25px 0 25px;
}
footer .list-inline {
  	margin: 0;
  	spadding: 0;
}
footer .copyright {
  color:#f0f0f0;
	padding-top: 25px;
	font-size: 14px;
  text-align: center;
  margin: 0;
  text-indent: 0;
}
.fa-circle{
	color:#a92f41;
}
.fa-instagram, .fa-linkedin, .fa-github, .fa-twitter{
  color:#f0f0f0;
}
/* navbar */
.navbar{
	background-color:#252120;
}
.nav>li>a{
  font-weight: bold;
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #6abed8;
  -webkit-transition: background-color 0.5s ease-in-out;
-moz-transition: background-color 0.5s ease-in-out;
-o-transition: background-color 0.5s ease-in-out;
transition: background-color 0.5s ease-in-out;
}
ul.nav a:hover {
	color: #f0f0f0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #727272;
  }
 ul > li.dropdown.open > ul > li > a:hover{
  color:#000;
 }
.nav .open>a, .nav .open>a:focus, .nav .open:hover {
	background-color:#6abed8;

}
.navbar a{
	color:#f0f0f0;
}
.nav.navbar-nav{
	font-color:#f0f0f0;
}
.list-inline a{
	color:#727272;
}
.dropdown-menu>li>a{
	color:#f0f0f0;
}
.navbar-brand{
	margin: 0em;
	padding: 0em;
}
.icon-bar {
  color: #f0f0f0;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}
/* misc elements */
hr.small{
	max-width: 200px;
  	margin: 15px auto;
  	border-width: 10px;
  	border-color: white;
}
/*darken images*/
.tint {
	position: relative;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.5);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

/*carousel*/
.carousel-inner > .item > img{
  width:100%;
}
.carousel-caption{
	top: 20%;
}
.carousel-caption h1{
	font-family: norwester, helvetica, sans-serif;
}
.carousel-caption h2{
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
	.carousel-caption h1{
    font-size: 30pt;
  }
}
@media only screen and (min-width: 968px) {
	.carousel-caption h1{
    font-size: 60pt;
  }
}
@media only screen and (max-width: 768px) {
	.carousel-caption h2{
    font-size: 18pt;
  }
}
@media only screen and (min-width: 968px) {
	.carousel-caption h2{
    font-size: 24pt;
  }
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 100px;
}
.carousel-btn{
	position: center;
	margin: 10px;
	padding: 15px;
	background-color: #6abed8;
	color: #252120;
}
.btn.carousel-btn{
	padding:15px;
	font-size: 12pt;
}
a.carousel-btn:hover{
  background-color:#f0f0f0;
  color:#404040;
    -webkit-transition: background-color  ease-in-out .5s;
    -moz-transition: background-color  ease-in-out .5s;
    -o-transition: background-color  ease-in-out .5s;
    transition: background-color ease-in-out .5s;
}
a.carousel-btn{
  font-weight: bold;
	color: #fff;
	font-size: 12pt;
  text-decoration: none;
}
/* make sharp edges on carousel button*/
.carousel-btn{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.carousel-btn-alt{
  border-style: solid;
  border-width: 3px;
  border-color: #f0f0f0;
  position: center;
  margin: 10px;
  padding: 12px;
  background-color: 'rgba(0,0,0,0)';
  color: #252120;
}
.btn.carousel-btn-alt{
  padding:12px;
  font-size: 12pt;
}
a.carousel-btn-alt:hover{
  background-color:#6abed8;
  color:#f0f0f0;
    -webkit-transition: background-color  ease-in-out .5s;
    -moz-transition: background-color  ease-in-out .5s;
    -o-transition: background-color  ease-in-out .5s;
    transition: background-color ease-in-out .5s;
}
a.carousel-btn-alt{
  font-weight: bold;
  color: #fff;
  font-size: 12pt;
  text-decoration: none;
}
/* make sharp edges on carousel button*/
.carousel-btn-alt{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
#featured .item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

/**  Carousel Faded **/

.carousel.faded {
    opacity: 1;
}

.carousel.faded .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.faded .item:first-child {
    top: auto;
    opacity: 0;
    position: relative;
}

.carousel.faded .item.active {
    opacity: 1;
}

.carousel-control {
    opacity: 1;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
/* intro-header */
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
}
.intro-header .site-heading{
	font-family: 'norwester', helvetica, sans-serif;
	font-size: 72pt;
}
.intro-header .subheading{
	font-family: 'Montserrat', sans-serif;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 60pt;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: '', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
/*Other*/
.first-item{
	padding-top:0px;
}
.teal-row{
	background-color: #6abed8;
  padding-bottom: 40px;
}
.teal-row h1{
	text-align: center;
	font-family: 'Lora', georgia, serif;
	font-size: 24pt;
	color: #f0f0f0;
}
.teal-row p{
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 12pt;
	color:#f0f0f0;
  padding-bottom: 30px;
}
.teal-row a{
  text-decoration: none;
  color: #6abed8;
  background-color: #fff;
  padding: 15px;
}
.teal-row a:hover{
  background-color: #404040;
  color: #f0f0f0;
}
.white-row{
	background-color: #404040;
  padding-bottom: 20px;
    background-repeat:no-repeat;
  background-size: 100%, 100%;
}
.white-row h1{
  font-family: 'Lora', georgia, serif;
  font-size: 24pt;
  color: #FFF;
}
.white-row p, label{
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 12pt;
  color:#f0f0f0;
}
.black-row{
  background-repeat:no-repeat;
  background-size: 100%, 100%;
	background-color:#252120;
  padding-bottom: 20px;
}
.black-row h1{
	font-family: 'Lora', georgia, serif;
	font-size: 24pt;
	color: #f0f0f0;
}
.black-row p, label{
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 12pt;
	color:#f0f0f0;
}
.img-responsive{
	padding-top: 15px;
	padding-bottom: 15px;
}
.lone-para{
	padding-top: 0px;
  line-height: 1.9em;
}
.search-navbar{
  height:50px;
  background-color: #252120;
}
#search{
  height: 36px;
  width: 500px;
  font-size: 18pt;
  color:#f0f0f0;
  text-align: left;
  position: relative;
             display: block;
             margin :  auto;
}
input, textarea {

  background-color : #404040;

}

ul.search-items{
  color:#f0f0f0;
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 18pt;
}
a{
  cursor: pointer;
}

/* Modal Functionality */
.modalDialog {
    position: fixed;
    font-family: 'Lora', georgia, serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    background: #f0f0f0;
}
.close {
    background: #606061;
    color: #FFF;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background:#727272;
     -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

/* post preview */
.preview-wrapper{
    color:#f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin: 10px
}
.preview-wrapper a{
  text-decoration: none;
  color:#f0f0f0;
}
.preview-wrapper a:hover{
  color:#6abed8;
   -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;

}
.post-preview{
  text-align: center;
  padding:25px;
}
.post-preview h1{
  font-family: 'Montserrat', helvetica, sans-serif;
}
.post-preview h2{
  font-family: 'lora', georgia, serif;
  font-size: 18pt;
}
.post-preview h3{
  font-size: 14pt;
  font-family: 'lora', georgia, serif;
  text-align: right;
}
.post-preview hr{
  border-color: #f0f0f0;
  border-width: 5px;
  max-width: 70%
}
/* Display-Container */

/* language */
.language{
  background-color:#252120;
  text-align: center;
}
.language h1{
  padding-top: 0.5em;
  font-family: "Montserrat";
  font-size: 28pt;
  color: #f0f0f0;
}
.language h2{
  font-family: "lora", georgia, serif;
  font-size: 12pt;
  color:#b2b2b2;
  padding-bottom: 1em;
}
.title-heading h1{
  font-size: 60pt;
}
.like{
  max-width: 250px;
  padding: .1em;
  margin-bottom: 0px;
  text-align: center;
  background-color:#f0f0f0;
}
#iLike > div > div > h1{
  color:#252120;
  font-size: 14pt;
  font-weight: bold;
  font-family: "lora";
}
div.row.title-heading > h1{
  color:#e6e6e6;
  padding-bottom: 10px;
}
body > div.container > div > div.title-heading > h1{
  text-align: center;
  font-family: 'lora';
}
.portfolio-title-light h1{
  font-family: "lora", georgia, serif;
  font-size: 24pt;
  color: #f0f0f0;
  margin-bottom: 10px;
}
.portfolio-title-light h2{
  font-family: "lora", georgia, serif;
  font-size: 12pt;
  color: #666666;
  margin-top: 0px;
}
.portfolio-title-dark h1{
  font-family: "lora", georgia, serif;
  font-size: 24pt;
  color:#f0f0f0;
  margin-bottom: 10px;
}
.portfolio-title-dark h2{
  font-family: "lora", georgia, serif;
  font-size: 12pt;
  color: #666666;
  margin-top: 0px;
}
th{
  font-family: 'lora',georgia,serif;
  color:#808080;
  padding-left:7px;
  padding-right: 7px;
  border-style: solid;
  border-width: 1px;
  border-right-color: #808080;
}
table{
  padding-top: 7px;
  padding-bottom:20px;
}
.error{
  padding-top:15%;
}
.error h1{
  color: #000;
  font-family: 'lora';
  font-size:120pt;
  text-align: center;
}
.error h2{
  color:#727272;
  font-family: 'Montserrat';
  font-size: 25pt;
  text-align: center;
}
.table-label{
  font-weight: normal;
  padding-right:20px;
  font-family: 'lora', georgia, serif;
  font-size: 12pt;
  color:#DDD;
}
.value{
  font-weight: normal;
  font-family: 'lora', georgia, serif;
  font-size: 14pt;
  color: #f0f0f0;
}
.info-table{
  border-width: 0px;
  background-color: #404040;
  margin-bottom: 15px;
  padding:5px;
}
.profile-card{
  background-color:#1c1f24;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 5px;
}
.profile-card h1{
  text-align: center;
  color: #f0f0f0;
  font-family: 'Montserrat';
}
.bio-card{
  background-color:#1c1f24;
  margin-top: 50px;

  padding-bottom: 5px;
}
.bio-card h1{
  color:#f0f0f0;
  font-family: 'Montserrat';
}
.bio-card p{
  color:#f0f0f0;
  font-family: 'lora';
  font-size: 14pt;
  line-height: 1.8em;
}
.postcard{
  background-color: #404040;
  font-family: "lora";
  color: #404040;
  padding: 50px;
  margin: 50px;
}
.postcard label{
  font-family: "lora";
  color: #f0f0f0;
  font-size: 20pt;
}
.portfolio-img{
  max-width: 400px;
  padding-top: 50px;
}
.postcard-border{
  border-style: solid;
  border-right: thick #404040;
  border-bottom: thick #404040;
  border-top: thick #404040;
  margin-left: 50px;
}
.transparent-input {
   background-color: rgba(0, 0, 0, 0);
}
.resume-item{
  margin-bottom: 150px;
  background-color: rgba(0,0,0,.5);
}
.resume-right{
  text-align: left;
  margin-top: 150px;
}
.resume-right ul{
    list-style-type: none;
    color: #f0f0f0;
    padding-left: 30px;
    font-size: 12pt;
    padding-top: 15px;
}
.resume-right h1{
  margin: 0;
  padding-left: 30px;
  color: #f0f0f0;
  font-family: lora, georgia, serif;
  font-size: 32px;
}
.resume-right h2{
  margin: 0;
  padding-left: 30px;
  color: #f0f0f0;
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 14pt;
  padding-top: 5px;
}
.resume-right h3{
  background-color:#f0f0f0;
  margin:5px;
  padding: 2px;
  padding-left: 30px;
  color: #404040;
  font-family: lora, georgia, serif;
  font-size: 12pt;
}

.resume-left{
  border-style: solid;
  border-color: #fff;
  border-left: thick #fff;
  border-bottom: thick #fff;
  border-top: thick #fff;
  text-align: right;
}
.resume-left ul{
  font-size: 12pt;
    list-style-type: none;
     color: #fff;
    padding-right: 30px;
    padding-top: 15px;
}
.resume-left h1{
  margin: 0;
  padding-right: 30px;
  color: #fff;
  font-family: lora, georgia, serif;
  font-size: 32px;
}
.resume-left h2{
  margin: 0;
  padding-right: 30px;
  color: #fff;
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 14pt;
  padding-top: 5px;
}
.resume-left h3{
  background-color:#fff;
  margin:5px;
  padding: 2px;
  padding-right: 30px;
  color: #404040;
  font-family: lora, georgia, serif;
  font-size: 12pt;
}
.popout{
  background-color: #f0f0f0;
  max-width: 300px;
  position:relative;

}
.popout p{
  color: #404040;
  padding-left: 0px;
  text-indent:none;
  text-align: center;
}
.like-desc{
  background-color: #404040;
  color:#f0f0f0;
  height:200px;
  max-width:250px;
  position:relative;
  margin-top: 20px;

}
.like-desc p{
  text-indent: 0px;
  text-align: center;
  overflow: hidden;
}
.like-desc img{
  padding-top: 20px;
}
.attribution{
  text-align: center;
  color: #aaa;
  padding-top: 3em;
}
.circle{
  margin:10%;
  border-radius: 50%;
  display:inline-block;
  background-color: #f0f0f0;
}
.arc_wrapper {
    position:relative;
    display: inline-block;
    margin:10%;
}
.arc {
    position:absolute;
    top:0;
    left:0;
    height: 180px;
    width:180px;
    border-radius:100%;
    border:10px solid;
    display: inline-block;
}
.arc_start {
    border-color:transparent red red red;
   /* -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);*/
    transform: rotate(90deg);
    display: inline-block;
}
.arc_end {
    border-color:#f0f0f0 transparent;
   /* -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); */
    transform: rotate(45deg);
    display: inline-block;
}
