body{
	background-color: #f2f2f2;
    margin-top: 30px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
section{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
	
}
section.shade {
	 -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}
section.blue{
	 -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}
h1{
	font-family: 'Roboto';
}
::selection {
  background:  #ffff00; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background:  #ffff00; /* Gecko Browsers */
}
.shade{
	background-color: #607D8B !important;
}
.blue{
	background-color: #29B6F6 !important;
}
.yellow{
	background-color: #FFEE58 !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;    
   -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;       /* Non-prefixed version, currently
                                  not supported by any browser */
}
.w3-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.project-desc-con{
	background-color: #4DB6AC;
	 -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
   	transition:all 2s ;
  -webkit-transition:all 2s ;
  -o-transition:all 2s ;
  -moz-transition:all 2s ;
}
.project-desc-con.opened{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.feature{
	margin: 10px;
	height: 80px;
}
/*BANNER*/
.banner{
	background-size:cover; 
	background-repeat: no-repeat; 
	background-position: center;
	-webkit-dow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.banner h1{
	font-weight: bold;
	font-family: 'Roboto';
	color: #fff;
	font-size: 5em;
	text-align:center;
	margin: none;
	padding-top: 2em;
}
.project{
	margin: 10px;
	transition:all 0.7s ;
  -webkit-transition:all 0.7s ;
  -o-transition:all 0.7s ;
  -moz-transition:all 0.7s ;
}
.project:hover{
	-webkit-dow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
/*PAGE*/
.page-heading{
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 3em;
	text-align:center;
}
/*PROFILE*/
.profile{
	margin-top: 25px;
	margin-bottom: 25px;
}
.profile img{
	margin-top: 25px;
	-webkit-dow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.profile h1{
	font-family: 'Roboto';
	font-weight: normal;
	font-size: 3em;
	text-align: center;
}
.profile p{
	margin-bottom: 25px;
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 1.29em;
}
/*POST*/
.post{
	margin:20px;
	transition:all 0.7s ;
  -webkit-transition:all 0.7s ;
  -o-transition:all 0.7s ;
  -moz-transition:all 0.7s ;
}
.post:hover{
 -webkit-dow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.post a{
	color:#252120;
	text-decoration: none;
}
.post h1{
	font-family: 'Roboto';
	font-size: 20px;
	text-align: center;
	line-height: 1.29em;
}
.post .thumbnail{
	height:0;
	padding-top: 54.166666666667%; 
	width:100%; 
	background-size:100%; 
	background-repeat: no-repeat; 
	background-position: center;
		transition:all 0.7s ;
  -webkit-transition:all 0.7s ;
  -o-transition:all 0.7s ;
  -moz-transition:all 0.7s ;
}
.post .thumbnail:hover{
	background-size: 110%;

}
.post h4{
	font-weight: normal;
}
.heading{
	padding-bottom: 20px;
	border-color: #909090;
	border-bottom-style: solid;
	border-width: 1px;
}
.post .fa-circle{
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
	webkit-transition:text-shadow .5s;
    transition: text-shadow .5s;
}
.post .more{
	position: absolute;
	right:1em;
	bottom: 45px;
	 padding:none;
    margin: none;
}
.post .time{
	position: absolute;
	right: 1em;
	bottom: 0px;
	font-size: 14px;
	font-weight: thin;
}
.post .clock{
	position: absolute;
	right: 70px;
	bottom:30px;
}
.post .img-circle{
	margin-top: 10px;
}
.post .col-xs-2{
	margin-right: 10px;
}
.project-title{
	position: absolute;
	right: 0em;
	bottom:0px;
	padding-right: 10px;
	padding-left: 10px;
}
.project-title h1{
	font-size: 20px;
	font-weight: normal !important;
	color: #404040;
}


/* CARD */

.card{
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding-top: 15px;
	padding-bottom: 25px;
}
.card h1{
	font-family: 'Roboto';
	font-weight: 100;
}
.card p{
	font-weight: normal;
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 1.29em;
}
.article img{
	padding: 20px;
	max-width:100%;
}
.article{
	padding-top: 75px;
}
.article h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto';
	font-weight: 100;
}
.article p{
	font-family: 'Roboto';
	font-size:18px;
	line-height: 1.79em;
}
.article li{
	font-family: 'Roboto';
}

/* NAVBAR */
.icon-bar{
	background-color: #252120;
}
.navbar-toggle{
	color:#252120;
}
.navbar-brand a{
	font-family: 'times new roman', georgia, serif;
	font-size: 2em;
	color:#252120;
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	-webkit-transition:text-shadow .5s;
    transition: text-shadow .5s;
}
.navbar-brand a:hover{
	text-decoration: none;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-webkit-transition:text-shadow .5s;
    transition: text-shadow .5s;
}
.navbar{
	background-color:#FFF;

    -webkit-dow: 0 8px 8px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.5);

}
.nav>li>a{
  font-weight: bold;
  color:#252120;
}
.nav>li>a:hover{
  background-color: #f0f0f0;
  color: #000;
   -webkit-transition:background-color .5s;
    transition: background-color .5s;
}
/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #252120;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}
/*BUTTONS*/
a.btn.pill:hover{
	background-color: #252120;
	color: #f0f0f0;
-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
a.btn.pill.active{
	background-color: #252120;
	color: #f0f0f0;
-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
a.btn.pill{
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 1px;
	border-color: #252120;
	border-radius: 24px;
	font-weight: bold;
	color: #252120;
	font-size: 1.12em;
	-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}


a.btn.pill-invert:hover{
	background-color: #fff;
	color: #404040;
-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
a.btn.pill-invert.active{
	background-color: #fff;
	color: #404040;
-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
a.btn.pill-invert{
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	border-radius: 24px;
	font-weight: bold;
	color: #fff;
	font-size: 1.12em;
	-webkit-transition:background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}
/*FOOTER*/
footer{
	background-color: rgb(28,30,41);
	box-shadow: 5px -5px 5px rgba(0,0,0,0.5);
}
footer h3{
	font-weight: bold;
	font-family: helvetica;
	color:#f0f0f0;
}
footer a{
	color:#a0a0a0;
}
footer a:hover{
	color:#f0f0f0;
}
footer .fa-circle{
	color:rgb(28,30,41);
    
}