body{
  background-color: rgb(241, 241, 241);
}
@font-face {
    font-family: 'norwester';
    src: url('../fonts/norwester/norwester-webfont.eot');
    src: url('../fonts/norwester/norwester-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/norwester/norwester-webfont.woff2') format('woff2'),
         url('../fonts/norwester/norwester-webfont.woff') format('woff'),
         url('../fonts/norwester/norwester-webfont.ttf') format('truetype'),
         url('../fonts/norwester/norwester-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
::selection {
  background:  #ffff00; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background:  #ffff00; /* Gecko Browsers */
}

/* Footer */
footer {
	background-color:#404040;
  	padding: 25px 0 25px;
}
footer .list-inline {
  	margin: 0;
  	spadding: 0;
}
footer .copyright {
  color:#f0f0f0;
	padding-top: 25px;
	font-size: 14px;
  text-align: center;
  margin: 0;
  text-indent: 0;
}
.fa-circle{
	color:#6abed8;
}
.fa-instagram, .fa-linkedin, .fa-github, .fa-twitter{
  color:#f0f0f0;
}
/* navbar */
.navbar{
	background-color:#FFF;

    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);

}
.nav>li>a{
  font-weight: bold;
}
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #6abed8;
  -webkit-transition: background-color 0.5s ease-in-out;
-moz-transition: background-color 0.5s ease-in-out;
-o-transition: background-color 0.5s ease-in-out;
transition: background-color 0.5s ease-in-out;
}
ul.nav a:hover {
	color: #f0f0f0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #727272;
  }
 ul > li.dropdown.open > ul > li > a:hover{
  color:#000;
 }
.nav .open>a, .nav .open>a:focus, .nav .open:hover {
	background-color:#6abed8;

}
.navbar a{
	color:#252120;
}
.nav.navbar-nav{
	font-color:#f0f0f0;
}
.list-inline a{
	color:#727272;
}
.dropdown-menu>li>a{
	color:#f0f0f0;
}
.navbar-brand{
	margin: 0em;
	padding: 0em;
  max-width: 50px;
}
.icon-bar {
  color: #f0f0f0;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}
/* misc elements */
hr.small{
	max-width: 200px;
  	margin: 15px auto;
  	border-width: 10px;
  	border-color: white;
}
/*Other*/
.teal-row{
	background-color: #6abed8;
  padding-bottom: 40px;
}
.teal-row h1{
	text-align: center;
	font-family: 'Lora', georgia, serif;
	font-size: 24pt;
	color: #f0f0f0;
}
.teal-row p{
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 12pt;
	color:#f0f0f0;
  padding-bottom: 30px;
}
.teal-row a{
  text-decoration: none;
  color: #6abed8;
  background-color: #fff;
  padding: 15px;
}
.teal-row a:hover{
  background-color: #404040;
  color: #f0f0f0;
}
.white-row{
	background-color: #404040;
  padding-bottom: 20px;
    background-repeat:no-repeat;
  background-size: 100%, 100%;
}
.white-row h1{
  font-family: 'Lora', georgia, serif;
  font-size: 24pt;
  color: #FFF;
}
.white-row p, label{
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 12pt;
  color:#f0f0f0;
}
.black-row{
  background-repeat:no-repeat;
  background-size: 100%, 100%;
	background-color:#252120;
  padding-bottom: 20px;
}
.black-row h1{
	font-family: 'Lora', georgia, serif;
	font-size: 24pt;
	color: #f0f0f0;
}
.black-row p, label{
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: 12pt;
	color:#f0f0f0;
}
th{
  font-family: 'lora',georgia,serif;
  color:#808080;
  padding-left:7px;
  padding-right: 7px;
  border-style: solid;
  border-width: 1px;
  border-right-color: #808080;
}
table{
  padding-top: 7px;
  padding-bottom:20px;
}
