/* this is a custom css stylesheet */

body{
	background:url("../img/home-bg.jpg") no-repeat center center fixed;
	height:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

