---
layout: default
---
<style>
.post {
  
  transition: background-color 0.5s ease;
  background-color:#EEE ;
  padding:10px;
  margin:35px;
  border-left: 10px solid #000;
}
.post:hover {
  background-color: #FFF;
}
.post, em{
  text-decoration:none;
  color:#000;
  margin-left:3em;
  font-size: 1.1em
}
.post .title {
  font-size: 2.6em;
  font-weight: bolder;
  padding-bottom: 15px;
}
.post, p{
  color:#000;
  margin-top: 1.5em;
  font-size: 1.1em;
}
.post h4{
  color: #6abed8;
  font-weight: bold;
}
.post-list, li{
  text-decoration:none;
  list-style-type: none;
}
.post-list, a{
  display:block;
  text-decoration: none;
}
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.7;
  }
</style>
<div style="padding-top:75px;" class="container">
  <span><h1 class="page-heading">Posts</h1> <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></span>

  <ul class="post-list">
    {% for post in site.posts %}
      <div class="row" >
        <li>
        <a href="{{ post.url | prepend: site.baseurl }}">

        <div class="post fade col-sm-8">
          <h4>{{post.categories}}</h4>
          <h1 class="title">
            {{ post.title }}
          </h1>
          <em><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></em>
<div class="col-sm-3">
<img width="150px" src="img/thumbnail/{{post.image}}.jpg"/>
</div>
<div class="col-sm-9">
{% if post.abstract %}
          <p>{{post.abstract}}</p>
{% else %}
  <p>
    {{ post.content | strip_html | truncatewords:20 }}
  </p>
{% endif %}
</div>
      </div>
      </a>
      </li>
      </div>
    {% endfor %}
  </ul>



</div>
