---
layout: default
title: Robert Hosking
---

<style media="screen">
@media (min-width: 1200px) {
  .text{
    width: 670px;
  }
}
.text{
  margin-top: 100px;
  margin-bottom: 100px;
}
#element {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/cover/skyline.jpg') no-repeat center;
    background-size:cover;
    display: block;
    height:50%;
    width: 100%;
}
.center-item{
  position:absolute;
margin: 10px;
border:10px solid #fff;
border-radius: 500px;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
}
.divider{
  background-color: #202020;
  height: 50px;
  width: 100%;
}

.text > p::first-letter {
  font-weight: bold;
    font-size: 200%;
    color: rgb(25, 189, 225);
}
p{
  font-family: serif;
  line-height: 2em;
}
a {
  text-decoration: none !important;
}

.post:hover {
  background-color: #FFF;
  transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
}

.post,
em {
  text-decoration: none;
  color: #000;
  margin-left: 0em;
}

.post .title {
  font-size: 1.8em;
  color: #000;
  padding-bottom: 15px;
  font-family: 'familiar';
  padding-bottom: 0;
  margin-bottom: 0;
}

.post p {
  font-family: helvetica;
  color: #404040;
  font-size: 12pt;
  text-decoration: none;
}

.post h4 {
  color: rgb(25, 189, 225);
  font-weight: bold;
  font-size: 1.2em;
  margin: 0em;
  padding-bottom: 0;
}

.post-list,
li {
  text-decoration: none;
  list-style-type: none;
}

.post-list,
a {
  display: block;
  text-decoration: none;
}

.post-data {
  color: #909090;
  text-indent: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.fade {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.fade:hover {
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.post-data {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 8pt;
}

.bookmark {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
}

.text-content {
  padding: 1em;
}

.date-text {
  text-indent: none;
  font-size: 1em;
  color: #EEE;
}

h6 {
  font-size: 1.2em;
  font-family: helvetica;
  color: #404040;
  line-height: 1.4em;
}

.btn {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(25, 189, 225);
  color: #FFF;
  border-radius: 0px;
}

.btn:hover {
  color: #fff;
  background-color: rgb(25, 189, 225);
}

#fa-facebook {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.6em;
  color: rgb(25, 189, 225);
}

#fa-twitter {
  position: absolute;
  bottom: 30px;
  right: 50px;
  font-size: 1.6em;
  color: rgb(25, 189, 225);
}

#fa-twitter:hover {
  color: rgb(0, 114, 199);
}

#fa-facebook:hover {
  color: rgb(0, 114, 199);
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background:  rgb(25, 189, 225);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#2098d1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: #ffffff;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.post {
  margin: 20px;
  background-color: #FFF;
  box-shadow: 5px 5px 2px #ccc;
  transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
}
.btn-dark{
  background-color: #202125;
  margin: 5px;
}
.btn-dark:hover{
  background-color: rgb(238,238,238);
  color: #000;
}
.main{
margin-top: 75px;
}
.masonry-grid{
  margin: 0 auto;
}
#about{
  background-image: url("/img/about.jpg");
  background-position: center;
  background-size: cover;
  color:#fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100%;
  background-repeat: no-repeat;
}
#about:hover{
  background-size: 110%;
}
#blog{
  background-image: url("/img/blog.jpg");
  background-position: center;
  background-size: cover;
  color:#fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100%;
  background-repeat: no-repeat;
}
#blog:hover{
  background-size: 110%;
}
#portfolio{
  background-image: url("/img/portfolio.jpg");
  background-position: center;
  background-size: cover;
  color:#404040;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100%;
  background-repeat: no-repeat;
}
#portfolio:hover{
  background-size: 110%;

}
.col-sm-4>h1{
  font-family: 'familiar';
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@font-face {
    font-family: 'familiar';
    src: url('/fonts/familiar/Familiar_Pro-Bold-webfont.eot');
    src: url('/fonts/familiar/Familiar_Pro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/familiar/Familiar_Pro-Bold-webfont.woff2') format('woff2'),
         url('/fonts/familiar/Familiar_Pro-Bold-webfont.woff') format('woff'),
         url('/fonts/familiar/Familiar_Pro-Bold-webfont.ttf') format('truetype'),
         url('/fonts/familiar/Familiar_Pro-Bold-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
  display: block;
}
.field{
  background-color: #fff;
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 30px 30px -30px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10000;
}
.img-responsive{
  padding-bottom: 0em;
  marin-bottom: 0em;
}
.text{
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.typed-cursor{
    visibility: hidden;
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


</style>

  <div class="text center-block">
    <div id="typed" style="min-height:100px; text-align: center; font-family:helvetica; font-size:5em; font-weight: bolder; margin-bottom:.5em;" class="center-block"></div>
  </div>

  <script>
    $(function(){
        $("#typed").typed({
          strings: ["Developer", "Designer", "Entrepreneur", "Robert Hosking"],
          typeSpeed: 0
        });
    });
  </script>
<!--
  <div class="designs">
    {% for design in site.data.portfolio.Designs %}
    <a href="/img/designs/{{design.image}}.jpg" target="_blank">
    <div class=" hvr-grow-shadow design">
      <img style="max-width:160px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.62);" src="/img/designs/{{design.image}}.jpg" alt=""/>
    </div>
  </a>
    {% endfor %}
    {% for img in site.data.portfolio.Photography %}
    <a href="/img/designs/{{img.image}}.jpg" target="_blank">
    <div class=" hvr-grow-shadow design">
      <img style="max-width:160px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.62);" src="/img/designs/{{img.image}}.jpg" alt=""/>
    </div>
    </a>
    {% endfor %}
  </div>
-->

  <div style="padding-top:75px;" class="masonry-grid">





     <ul class="post-list center-block">
        {% for post in site.posts limit:3 %}
      {% include post-preview.html %}
        {% endfor %}
     </ul>
     <a style="display:block; position:fixed; right:10px; bottom:10px;" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
         <span class="fa-stack fa-2x hidden">
             <i style="color:rgb(25,189,225);text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);" class="fa fa-circle fa-stack-2x"></i>
             <i style="color:#fff" class="fa fa-rss fa-stack-1x"></i>
         </span>
     </a>
  </div>

</div>

</div>

<script src="/js/masonry.min.js"></script>
<script type="text/javascript">
  $('.masonry-grid').masonry({
    // options
    itemSelector: '.grid-item',
    isFitWidth: true

  });

  $('.designs').masonry({
    // options
    itemSelector: '.design',
    fitWidth: true
      //columnWidth:
  });
</script>
