<section id="about" style="z-index:10">
	<div class="container">
		<div class="row">
			<div  class="card profile col-sm-6 col-sm-offset-3">
				
				<img width="200px;" class="noselect center-block img-circle" src="/img/profile.jpg">
				<h1>Hi. I'm Robert.</h1>
				<div class="col-sm-8 col-sm-offset-2">
					<p>
						 I’m a bold and independent thinker who is most comfortable in uncertainty. I challenge myself and others every day. I have always been a hacker. Building, tinkering, and reverse engineering come as second nature. I’m constantly self-improving while maintaining a work ethic that can move mountains and a passion for what I do best: Making it happen.

					</p>
				</div>
			</div>
		</div>
</div>

<section class="shade" id="like">
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1 style="text-align:center; color:#fff;">I like...</h1>
		</div>
		</div>
		<div class="row">
			
				<div style="color:#fff;" class="col-sm-4 frame">
					<img class="center-block" height="100px" src="/img/icons/pingpong.png">
					<h1>Ping Pong</h1>
					<p>I really love ping pong. It gives me a great outlet to release energy and show my competitive side.</p>
				</div>
				<div style="color:#fff;" class="col-sm-4 frame">
					<img class="center-block" height="100px" src="/img/icons/skate.png">
					<h1>Skate</h1>
					<p>I like the simplicity, convinence, and freedom of skating. I skate for transportation. I don't know any tricks.</p>
				</div>
				<div style="color:#fff;" class="col-sm-4 frame">
					<img class="center-block" height="100px" src="/img/icons/coffee.png">
					<h1>Coffee</h1>
					<p>I'm an aspiring coffee enthusiast. I like trying exzotic blends and experimenting with brewing techniques.</p>
				</div>
			
		</div>
		<br>
		<br>
		<div class="row">
			<div style="" class="col-sm-4">
			<img class="center-block" height="100px" src="/img/icons/camera.png">

			<h1 style="color:#fff;">Photography</h1>
<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/dafa09cbe57c5f319eb7c219a1d84255.html" id="lightwidget_dafa09cbe5" name="lightwidget_dafa09cbe5"  scrolling="no" allowtransparency="true" class="lightwidget-widget card" style="padding:0;width: 100%; border: 0; overflow: hidden;"></iframe>

			</div>
			<div style="" class="col-sm-4">
				<img class="center-block" height="100px" src="/img/icons/record.png">

				<h1 style="color:#fff;">Weird Music</h1>
<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Arobhossboss%3Aplaylist%3A0ntrKVF0m54qS9SaoeYQDo" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
			</div>
			<div style="" class="col-sm-4">
				<img class="center-block" height="100px" src="/img/icons/book.png">

				<h1 style="color:#fff;">Reading</h1>

      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1495727142">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="Incognito: The Secret Lives of the Brain" href="https://www.goodreads.com/book/show/9827912-incognito"><img alt="Incognito: The Secret Lives of the Brain" border="0" src="https://images.gr-assets.com/books/1348669116m/9827912.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="An Introduction To Philosophy" href="https://www.goodreads.com/book/show/26791417-an-introduction-to-philosophy"><img alt="An Introduction To Philosophy" border="0" src="https://images.gr-assets.com/books/1442846992m/26791417.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Night" href="https://www.goodreads.com/book/show/1617.Night"><img alt="Night" border="0" src="https://images.gr-assets.com/books/1473495285m/1617.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Beowulf" href="https://www.goodreads.com/book/show/52357.Beowulf"><img alt="Beowulf" border="0" src="https://images.gr-assets.com/books/1327878125m/52357.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Iliad" href="https://www.goodreads.com/book/show/1371.The_Iliad"><img alt="The Iliad" border="0" src="https://images.gr-assets.com/books/1388188509m/1371.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Alice in Wonderland" href="https://www.goodreads.com/book/show/13023.Alice_in_Wonderland"><img alt="Alice in Wonderland" border="0" src="https://images.gr-assets.com/books/1391458382m/13023.jpg" /></a></div>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Robert, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/60660893.Robert's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=6&order=d&shelf=read&sort=date_added&widget_id=1495727142" type="text/javascript" charset="utf-8"></script>

				
				

			</div>
		</div>
	</div>
</section>
<section id="know">
<div class="container">
		<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1 style="text-align:center;">I know...</h1>
		</div>
		<div class="col-sm-10 col-sm-offset-1">
		{% for thing in site.data.portfolio.Skills %}
		<div class="col-sm-6">
			<span>
			<div id="{{thing.name}}" height="20px" style="color:#000;"><h1 style="padding:5px; text-align:left; font-size:1em; font-weight:bold;">{{thing.skill}}</h1></div></span>
		</div>
		
		<script type="text/javascript" charset="utf-8">
			var {{thing.name}}Color = randomColor({luminosity: 'light', hue: 'random'});
			console.log({{thing.name}}Color);
			$('#{{thing.name}}').css('background-color', {{thing.name}}Color );
			$('#{{thing.name}}').css('width', '{{thing.ability}}%');
			
		</script>
		{% endfor %}
		</div>
</section>
		
	</div>
</section>
