<section>
	<div class="container">
		<div class="row">
			<div id="about" class="card profile col-sm-6 col-sm-offset-3">
				
				<img width="200px;" class="noselect center-block img-circle" src="/img/profile.jpg">
				<h1>Hi. I'm Robert.</h1>
				<div class="col-sm-8 col-sm-offset-2">
					<p>
						 I’m a bold and independent thinker who is most comfortable in uncertainty. I challenge myself and others every day. I have always been a hacker. Building, tinkering, and reverse engineering come as second nature. I’m constantly self-improving while maintaining a work ethic that can move mountains and a passion for what I do best: Making it happen.

					</p>
				</div>
			</div>
		</div>
	</div>
</section>