<section style="z-index:10">
	<div class="container">
		<div class="row">
			<div id="about" class="card profile col-sm-6 col-sm-offset-3">
				
				<img width="200px;" class="noselect center-block img-circle" src="/img/profile.jpg">
				<h1>Hi. I'm Robert.</h1>
				<div class="col-sm-8 col-sm-offset-2">
					<p>
						 I’m a bold and independent thinker who is most comfortable in uncertainty. I challenge myself and others every day. I have always been a hacker. Building, tinkering, and reverse engineering come as second nature. I’m constantly self-improving while maintaining a work ethic that can move mountains and a passion for what I do best: Making it happen.

					</p>
				</div>
			</div>
		</div>



		<div class="row">
		<div class="col-sm-4 col-sm-offset-4 card">
			<h1 style="text-align:center;">I like...</h1>	
		</div>
		</div>
		<<div class="row">
			<div style="margin:25px" class="col-sm-3 center-block card">
				<img class="center-block" height="100px" src="/img/pingpong.png">
				<h1>Ping Pong</h1>
				<p>I really love ping pong. It gives me a great outlet to release energy and show my competitive side.</p>
			</div>
			<div style="margin:25px" class="col-sm-3 center-block card">
				<img class="center-block" height="100px" src="/img/skate.png">
				<h1>Skate</h1>
				<p>I like the simplicity, convinence, and freedom of skating. I skate for transportation. I don't know any tricks.</p>
			</div>
			<div style="margin:25px" class="col-sm-3 center-block card">
				<img class="center-block" height="100px" src="/img/coffee.png">
				<h1>Coffee</h1>
				<p>I'm an aspiring coffee enthusiast. I like trying exzotic blends and experimenting with brewing techniques.</p>
			</div>
		</div>
	</div>
</section>