<section style="margin-bottom:0em; padding:50px;" class="blue" id="action">
	<div class="container">
		<div class="row">
		<h1 style="text-align:center; color:#fff; font-weight:100;"">Wanna hire me?</h1>
					<div style="text-align:center">
	<a class="btn pill-invert" target="_blank" href="/RobertHosking.pdf">Here's my resum&eacute;</a>
</div>
<br>
<h1 style="text-align:center; color:#fff; font-weight: 100;">Just wanna say "Hi"?</h1>
			<div style="text-align:center">
	<a class="btn pill-invert" target="_blank" href="https://docs.google.com/forms/d/1AUYmskaU4fcEnas9kJwJpk9Xob-z89zawt5S7mwpn0M/viewform">Contact Me</a>
</div>
		</div>
	</div>


</section>