<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Navigation</h3>
          <hr>
          <p>
            <a href="/blog">Blog</a>

          </p>
          <p>
            <a href="/#about">About</a>

          </p>
          <p>
            <a href="/#about">Portfolio</a>

          </p>
          <p>
            <a href="/#">Home</a>

          </p>
        

        </div>
        <div class="col-sm-3">
          <h3>Blog</h3>
          <hr>
          {% for post in site.posts limit: 3 %}
          <p>
            <a href='{{ post.url | prepend: site.baseurl }}'>{{post.title}}</a>

          </p>
          {% endfor %}

          <a style="text-decoration:underline;" href="/blog">More...</a>
        </div>
        <div class="col-sm-3">
          <h3>Follow</h3>
          <hr>
          <p>
            <a href="https://github.com/{{site.github}}"target="_blank">Github</a>
          </p>
          <p>
            <a href="https://linkedin.com/in/robhossboss"target="_blank">LinkedIn</a>

          </p>
          <p>
            <a href="https://beme.com/robhossboss"target="_blank">Beme</a>
          </p>
          <p>
            <a href="https://instagram.com/{{site.instagram}}"target="_blank">Instagram</a>

          </p>
          <p>
            <a href="/feed.xml">RSS</a>

          </p>
        </div>
      </div>
      <br>
        <div class="row">

            <div class="col-lg-2 col-lg-offset-10 col-md-10 col-md-offset-1">
            
                <ul class="list-inline text-center">
                    
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/robhossboss" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/{{site.instagram}}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                   
            </div>
                 <p style="font-size:10px; color:#505050;">
                         Copyright Robert Hosking &copy; 2016   |   All Rights Reserved   |   <a href="http://goo.gl/forms/C00uIrdNojZynv9z2" target="_blank">Report Error</a>
                        </p>
                      
        </div>
    </div>

</footer>
