

   <style media='screen'>
     #{{post.image}}{
     background-image: url('/img/thumbnail/{{post.image}}.jpg');
   }
   </style>
   <article>

         <div style='width:300px;'class='{{post.categories}} card post grid-item'>

         <a style='display:block;' href='{{ post.url | prepend: site.baseurl }}'>
            <div class="thumbnail" id='{{post.image}}'></div>
</a>
          

            <div>
           
            <div class="heading">
                  <a href='{{ post.url | prepend: site.baseurl }}'>
                      <h1 class='title'>
                      {{ post.title }}
                   </h1>
                 </a>
        </div>
        <div class="col-xs-2">
          {% if post.author %}
          <a style="display:block;" href="{{post.author-link}}">
          <img width="35px" class="img-circle" src="/img/avatars/{{post.author}}.jpg">
          </a>
          
          {% else %}
          <a style="display:block;" href="/about">
          <img width="35px" class="img-circle" src="/img/profile.jpg">
          </a>
          {% endif %}

        </div>
              <div class="col-xs-8">
               <span>
                  <h4>{{post.categories}}</h4>
               </span>
                <h6 class='date-text'>
                  {{ post.date | date: '%b %-d, %Y' | upcase}}
               </h6>
               </div>
               
               <a class="more"href="{{ post.url | prepend: site.baseurl }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
      <span class="clock"><i class="fa fa-clock-o fa-stack-1x "></i></span>
      <p class="time">{{post.time}} min</p>
       
      </div>
      
      </div>
   </article>
