<style media="screen">
@-webkit-keyframes fadeInDownBig {
from {
opacity: 0;
-webkit-transform: translate3d(0, -2000px, 0);
transform: translate3d(0, -2000px, 0);
}

to {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

@keyframes fadeInDownBig {
from {
opacity: 0;
-webkit-transform: translate3d(0, -2000px, 0);
transform: translate3d(0, -2000px, 0);
}

to {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

.fadeInDownBig {
-webkit-animation-name: fadeInDownBig;
animation-name: fadeInDownBig;
}
.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
</style>
<div id="follow-me-links">
  <a style="display:block; position:fixed; right:10px; bottom:10px;" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
      <span class="first fa-stack fa-2x hidden">
          <i style="color:rgb(25,189,225);text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);" class="fa fa-circle fa-stack-2x"></i>
          <i style="color:#fff" class="fa fa-rss fa-stack-1x"></i>
      </span>
  </a>
  <a style="display:block; position:fixed; right:10px; bottom:70px;" href="https://github.com/robhossboss" target="_blank">
      <span class="second fa-stack fa-2x hidden">
          <i style="color:rgb(25,189,225);text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);" class="fa fa-circle fa-stack-2x"></i>
          <i style="color:#fff" class="fa fa-github fa-stack-1x"></i>
      </span>
  </a>
  <a style="display:block; position:fixed; right:10px; bottom:130px;" href="https://www.linkedin.com/in/robhossboss" target="_blank">
      <span class="third fa-stack fa-2x hidden">
          <i style="color:rgb(25,189,225);text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);" class="fa fa-circle fa-stack-2x"></i>
          <i style="color:#fff" class="fa fa-linkedin fa-stack-1x"></i>
      </span>
  </a>
</div>

</div>
<script src="/js/wow.min.js"></script>
<script>
new WOW().init();
</script>
<script type="text/javascript">
$(window).scroll(function() {
 var scroll = $(window).scrollTop();

 //>=, not <=
 if (scroll >= 50) {
   //clearHeader, not clearheader - caps H
   $(".first").removeClass("hidden");

   $(".first").addClass("animated fadeInDownBig");
 }
 if (scroll >= 100) {
   //clearHeader, not clearheader - caps H
   $(".second").removeClass("hidden");

   $(".second").addClass("animated fadeInDownBig");
 }
 if (scroll >= 150) {
   //clearHeader, not clearheader - caps H
   $(".third").removeClass("hidden");

   $(".third").addClass("animated fadeInDownBig");
 }
}); //missing );
</script>
