html,
body{
	background-color: #ECECEC;
}
::selection {
  background: #303030; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #303030; /* Gecko Browsers */
}
.navbar-custom .navbar-brand {
	color: #777;
	font-family: "Lobster";
	font-size: 24pt;
}
hr{
	border-color: #404040;
}
footer{
	background-color: #404040;
}
.post-preview{
	margin-bottom: 2em;
}
.post-preview a {
	color:white;
}
.post-preview a:hover { 
    color: #ECECEC;
}
.subheading{
	background-color: #303030;
}
.post-title{
	padding-top: 1em;
	padding-left: 20px;
	padding-right: 1em;
}
.post-subtitle{
	padding-right: 1em;
	padding-left: 20px;
	padding-bottom: 0.5em;
}
.post-preview>.post-meta {
	color: #FFFFFF;
	padding-left: .7em;
	padding-bottom: 0.5em
}
.post-preview>.post-meta>a {
	color: #2fcab6;
}

.post-series{
	border-left: 50px solid #2fcab6;
}
