
body{
	background-color: #EEE;
}
.post-heading h1{
	font-family: 'Oleo Script Swash Caps', helvetica, sans-serif;
	font-size: 46pt;
	text-align: center;
	color:#121212;
	line-height: 1.4em;
	padding-top: 100px;

}

.post-heading h2{
	font-family: Montserrat, helvetica, sans-serif;
	font-size: 32pt;
	text-align: center;
	color: #202020;
	line-height: 1.1em;
	padding-top: 15px;

}
.post-heading p{
	font-family: Montserrat, helvetica, sans-serif;
	color:#fff;
	text-align: center;
	background-color: #404040;
	padding: 2px;
	margin-bottom: 125px;
	margin-top: 25px;
}
.post-heading a{
	color:#00BCD4;
}

article p{
	color:#404040;
	font-family: lora, georgia, serif;
	font-size: 14pt;
	line-height: 1.8em;
	margin-top: 30px;
	margin-left: 15%;
}
article h1{
	color: #121212;
	font-size: 32pt;
	font-family: Montserrat, helvetica,sans-serif;


}
blockquote{
	border-color: #404040;
	margin-top: 50px;
}
