html,
body{
	background-color: #ECECEC;
}

.navbar-custom .navbar-brand {
	color: #777;
	font-family: "Lobster";
	font-size: 24pt;
}

hr{
	border-color: #404040;
}

p{
	font-family: 'Montserrat', helvetica, serif;
	text-align: left;
	font-size: 14pt;
	color: #404040;
}
p.source{
	font-size: 11pt;
	text-align: right;
}
p a{
	color: #0099CC;
}
article p{
	text-indent: 50px;
}
article a{
	color: #0099CC;
}
article p,ul,iframe,h1,blockquote,span.caption,hr,img.align{
	font-size: 14pt;
	margin-left: 10em;
	margin-right: -5em; 
}

@media (max-width: 970px){
	article p,img.align,ul,iframe,span.caption,h1,hr{
		margin-left: 0em;
		margin-right: 0em; 
	}
}

@media (max-width: 970px){
	.post-heading{
		margin-top: 50px;
		text-align: center;
	}
}
@media (max-width: 970px){
	.title{
		font-size: 28pt;
	}
}
@media (max-width: 970px){
	.post-heading p,a.author{
		background-color: #404040;
		color: #F0F0F0;
		font-size: 14pt;
		text-align: center;
	}
}

@media only screen and (min-width: 768px){
	.navbar-custom .nav li a {
  		color: #404040;
  		padding: 20px;
}
footer{
	background-color: #404040;
}
.pager .next>a, 
.pager .next>span{
	float: none;
	background-color: #404040;
}
.subheading {
	position: absolute;
	top:
}
.post-heading h1,h2,h3,h4,h5,h6,span{
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
	font-size: 42pt;
}
.post-heading p,a.author{
	background-color: #404040;
	color: #F0F0F0;
	font-size: 14pt;
	text-align: center;
}
.post-heading{
	padding-top: 100px;
	padding-bottom: 25px;
}
.post-heading hr{
	border-color: #404040
}
h1.title{
	font-size: 48pt;
}
iframe{
	margin-right: 0em;
	margin-left: 0em;
}
.post-preview a {
	color:white;
}
.suggestion{
	height:100%;

}
.suggestion-title{
	font-family:"Roboto Condensed", sans-serif;
	color:white;
	padding-top: 1em;
	text-align:center;
	font-size: 30pt;
}
.suggestion-subtitle{
	font-family:"Roboto Condensed", sans-serif;
	color:white;
	padding-bottom: 1em;
	text-align:center;
	font-size: 30pt;
}
.centerup{
	margin-left: 0em;
	margin-right: 0em;
}